<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <figure class="user">
      <a href="/users"><img class="user-photo"
        src=""
        alt="user_photo">
      <figcaption class="user-caption">user</figcaption></a>
    </figure>
    <a class="navbar-brand" href="../"><img src="/Images/Fini_logo.png" /></a>
    <figure class="navbar-add-todo mx-2"><i class="fa-solid fa-plus navbar-add-todo-plus"></i></figure>

  </nav>
</header>
