<header>
  <nav class="navbar navbar-expand-md navbar-dark">
    <figure class="user">
      <a href="/users"><img class="user-photo"
        src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80"
        alt="user_photo">
      <figcaption class="user-caption">Dave</figcaption></a>
    </figure>
    <a class="navbar-brand"><img src="/Images/Fini_logo.png" /></a>
    <figure class="navbar-add-todo mx-2"><i class="fa-solid fa-plus navbar-add-todo-plus"></i></figure>

  </nav>
</header>
