<!DOCTYPE html>
<html lang="en">

<head>
  <title>fini</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/eventhandlerfunctions.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar flex-space-around navbar-brand"><img src="Images/Fini_logo.png" alt="logo" /></a>
    </nav>
  </header>

<div class="register-container">
  <form action="/register" method="POST">
    <h2 class="sign">Register</h2>
    <input type="email" name="email" class="form-control un" id="inputEmail" placeholder="Email">
    <input type="password" name="password" class="form-control un" id="inputPassword" placeholder="Password">
    <input type="text" name="first_name" class="form-control un" id="inputFirstName" placeholder="First Name">
    <input type="text" name="last_name" class="form-control un" id="inputLastName" placeholder="Last Name">
    <input type="text" name="city" class="form-control un" id="inputCity" placeholder="City">
    <input type="text" name="country" class="form-control un" id="inputCountry" placeholder="Country">
    <button type="submit" class="submit">Register</button>
  </form>
</div>
</body>
</html>
