@import 'variables';
@import 'nav';
@import 'add_item';
@import 'to-do-categories';
@import 'item_functions';
@import 'login';

body {
  background: #495057;
  color: var(--color-primary);
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

