nav {
  color: var(--color-white);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  transition: all .1s;
  background: var(--color-primary);
  &-add-todo{
    background: var(--color-secondary);
    height: 2em;
    width: 2em;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    &:hover{
      transform: translateY(-0.05rem);
      // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
    &:active{
      transform: translateY(0rem);
      // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
  }
}
.flex-space-around {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.user {
  background-color: var(--color-white);
  width: 4em;
  height: 4em;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative;
  &-photo {
    height: 100%;
    transition: all .5s;
  }
  &-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, 10%);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: .5em;
    text-align: center;
    opacity: 0;
    transition: all .5s;
  }
  &:hover &-caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &-photo {
    filter: blur(.1rem) brightness(30%);
  }
}
