.to-do-list {
  width: 95%;
  margin: auto;
  border-radius: 15px;
  padding: 1em;
  color: var(--color-white);

  &-title{
    display: flex;
    justify-content: center;
  }
  &-watch{
    background-color: var(--watch-list-bg-color);
  }
  &-read{
    background-color: var(--read-list-bg-color);
  }
  &-buy{
    background-color: var(--buy-list-bg-color);
  }
  &-eat{
    background-color: var(--eat-list-bg-color);
  }
  &-misc{
    background-color: var(--misc-list-bg-color);
  }
  &:hover{
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
  }

  &:checked {
    text-decoration:line-through;
  }

  &-detail{
    display:flex;
    justify-content: space-between;

    &-expand{
      height:2em;
      width:2em;
      border-radius: 50px;
      display:flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.2);
      transform:rotate(-90deg);
    }
    &-count{
      color:var(--color-grey-text)
    }
  }

  &-add-category{
    display:flex;
    justify-content: center;
    font-size: 2em;
    transition: all .1s;
    &-plus:hover{
      transform:translateY(-.01em);
    }
    &-plus:active{
      transform:translateY(.04em);
    }
  }

  &-items{
    display:flex;
    justify-content: space-between;
  }
}

.to-do-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  color: var(--color-white);

  & textarea {
    width: 50%;
    height: 100px;
    resize: none;
    border: none;
  }

  &-detail{
    display:flex;
    justify-content: left;

    &-expand{
      height:1.2em;
      width:1.2em;
      border-radius: 25px;
      display:flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.2);
      transform:rotate(-90deg);
    }
  }
  &-items{
    display:flex;
    justify-content: space-between;
  }
}

.change-category{
  background-color:transparent;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius:2px;
  border:none;
  color:var(--color-white);
  padding: .1em;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size:.7em;
  // disable default appearance
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  &::-ms-expand { display: none };
  &:focus{
    background: var(--color-grey-text);
 }
}

.expand-checkbox{
  display:none;
  &:checked ~ .to-do-list-detail-expand{
    transition: all .5s;
    background: rgba(255, 0, 0, 0.4);
    transform:rotate(0deg);
  }
}

.sub-expand-checkbox{
    display:none;
    &:checked ~ .to-do-details-detail-expand{
      transition: all .5s;
      background: rgba(255, 0, 0, 0.4);
      transform:rotate(0deg);
    }
  }

.strikethrough{
  text-decoration:line-through;
}

input[type=checkbox].item-complete-input{
  vertical-align: middle;
  width: 20px;
  height: 20px;
  outline: 1.5px solid var(--color-primary);
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
  background: #495057;
}

input[type=checkbox].item-complete-input:checked:before {
  content: '✔';
  color: var(--color-primary);
  vertical-align: top;
  font-size: 2.4em;
  text-align: center;
  line-height: 0.6em;
}
