:root{
  --color-white : #fff;
  --color-black : #000;
  --color-grey-text : #616161;
  --color-secondary : #1C658C;
  --bg-color : rgb(163, 208, 219);
  --watch-list-bg-color : olive;
  --read-list-bg-color : rgb(229, 230, 173);
  --buy-list-bg-color : violet;
  --eat-list-bg-color : salmon;
}
