:root{
  --color-white : #fff;
  --color-black : #000;
  --color-grey-text : #616161;
  --color-primary : #398AB9;
  --color-secondary : #1C658C;
  --bg-color : #E9E5D6;
  --watch-list-bg-color : olive;
  --read-list-bg-color : lightblue;
  --buy-list-bg-color : violet;
  --eat-list-bg-color : salmon;
  --misc-list-bg-color : burlywood;
}
