:root{
  --color-white : #fff;
  --color-black : #000;
  --color-grey-text : #616161;
  --color-primary : #398AB9;
  --color-secondary : #1C658C;
  --color-tertiary : rgba(255, 0, 0, 0.4);
  --bg-color : #E9E5D6;
  --watch-list-bg-color : #F4A261;
  --read-list-bg-color : #e9c46a;
  --buy-list-bg-color : #2a9d8f;
  --eat-list-bg-color : #264653;
  --misc-list-bg-color : #E76F51;
  --misc-list-bg-more : #1C658C;
};
